[submodule "cyphertap"]
	path = cyphertap
	url = https://github.com/PlebeiusGaragicus/cyphertap.git
[submodule "fullstack-chat-client"]
	path = fullstack-chat-client
	url = https://github.com/PlebeiusGaragicus/fullstack-chat-client
